
@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @RenderSection("Styles", false)
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <title>Street Fighter</title>
</head>

<body>
    <div class="main-options">
        <a href="~/StreetFighter">Início</a>
        <a href="~/StreetFighter/ListarPersonagem">Lista de Personagens</a>
        <a href="~/StreetFighter/Sobre">Sobre</a>
    </div>
    <div class="content">
        <div class="top-title">
            <span>@ViewBag.Title</span>
        </div>
        <div class="bottom-content">
            @RenderBody()
        </div>
    </div>
</body>

</html>