
@{
    Layout = null;
}<!DOCTYPE html>
<html>
<head>
    <title>Projeto CRESCER CWI</title>
    <meta charset="utf-8">
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>

    <div class="menu">
        <span class="links">
            <a href="~/StreetFighter/Index">Inicio</a>
        </span>
        <span class="links">
            <a href="~/StreetFighter/Cadastro">Cadastro</a>
        </span>
        <span class="links">
            <a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a>
        </span>
        <span class="links">
            <a href="~/StreetFighter/Sobre">Sobre</a>
        </span>
    </div>

    <div class="titulo">
        <h1>
            <strong>@ViewBag.Title</strong>
        </h1>
    </div>

    @RenderBody()
</body>
</html>