@model Loja.Web.Models.UsuarioModel
@{
    ViewBag.Title = "Index";
}


<h2>Login</h2>

@using (Html.BeginForm("Entrar", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "login.invalido" })
    @Html.TextBox("email", "", new { placeholder = "email" })
    @Html.Password("senha", "", new { placeholder = "senha" })
    <button type="submit">Entrar</button>
}
@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}